@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button{
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 10px 15px;
  margin: 0 1rem;
}

input{
  text-align: center;
  width: 5rem;
  height: 2rem;
}
.incBtn{
  background-color: rgb(60, 60, 236);
  color: #ffffff;
}
.decBtn{
  background-color: rgb(252, 97, 36);

}
div{
  margin: 0.7rem auto;
}